:root {
    /* Project */
    --color_mc: #5c584f;
    --color_pc: #da2128;
    --color_bk: #000;
    --color_df: #212121;
    --color_ct: #ccc;
    --color_cl: #eee;
    --color_ly: #f1e9df;
    --color_lg: #f3f3f3;
    --color_wt: #ffffff
}

/* 나중에삭제 */
header {
    height: 7rem;
    background: #efe5d9;
}

main {
    height: 446.5rem;
    width: 100%;
    background-color: #efe5d9;
}

footer {
    height: 72rem;
    width: 100%;
    background-color: #1e1e1e;
}

/* components */
.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.df {
    display: flex;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.inner {
    position: relative;
    max-width: 147rem;
    margin: 0 auto;

}

/* ====================================
    ============== header ===============    
==================================== */
.header {
    display: block;
}

.header .gnb {
    width: 100%;
    height: 70px;
    margin: 0, auto;
    padding: 0, 80px;
    background: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}

.header .header_inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header_inner .menu_btn {
    height: 100%;
}

.header_inner .h1 {
    font-size: 1.6rem;
}

.header_inner .logo {
    padding-left: 90px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 19rem;
}


.header_util {

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.header_util .menu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 9rem;
}

.header_util .menu a {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color_bk);
}

/* .header_inner .header_gnb a {
    justify-content: center;
    text-align: center;
} */

/* ====================================
    ============== main ===============    
==================================== */
.main_wrap {
    background: #efe5d9;
}

.main_wrap .contents {
    padding-bottom: 160px;
    position: relative;
}

.main_visual {
    padding-top: 10rem;

}

.main_visual img {
    width: 100%;
    vertical-align: top;
}

section {
    display: flex;
    flex-direction: column;
}



/* ====================================
    ============== footer ===============    
==================================== */





/* ====================================
    ============== 이하는 나중에 ===============    
==================================== */
button,
.button {
    display: block;
    padding: 1.6rem 4.6rem;
    border-radius: 0.8rem;
    text-align: center;
    flex-shrink: 0;
}

.cta {
    background-color: transparent;
    border: 1px solid var(--gray_800);
}

.ghost {
    background-color: var(--gray_800);
    border: 1px solid transparent;
}

.normal {
    box-sizing: border-box;
    border: 1px solid transparent;
}

/* ====================================
    ============== 나중에 ===============    
==================================== */